.cardproduct {
    grid-area: 'myArea';
    display: flex;
    justify-content: center;
    text-decoration: none;
}
.cardproduct__card{
    width: 365px;

}
.grid__card{
    display: grid;
    grid-template-areas: 'myArea myArea myArea';
    gap: 4rem;
    margin-top: 3rem;
    align-items: center;
}
